<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ch.hsr.bieridee.android.test"
	android:versionCode="1" android:versionName="1.0-SNAPSHOT">

	<uses-sdk android:minSdkVersion="10" />

	<application>
		<uses-library android:name="android.test.runner" />
	</application>

	<instrumentation
		android:targetPackage="ch.hsr.bieridee.android"
		android:name="android.test.InstrumentationTestRunner" />

</manifest>

