# Android
*.apk
*.ap_
*.dex
*.class
application/bin/
application/gen/
application-it/bin/
application-it/gen/

# Eclipse
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
local.properties
*.launch
.buildpath

# Maven
*/target/*

# IntelliJ Idea
.idea/
*.iml
